<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CycleON</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link href="assets/css/rewards.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js">
    </script>
    <link rel="stylesheet" href="assets/css/app.css" type="text/css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="cycleapp" class="bg">
    <!--Menu-->
     <nav>
        <div id="profile" ng-controller="AccountController">
            <ul>

                <img class="titleImage" style="float:right;margin-right:130px;margin-top:3px;margin-bottom:3px;height:50px;padding-right:30px;" src="assets/img/170whilwithguy.png"/>
                <img style="float:right;margin-right:-280px;margin-top:11px;" src="assets/img/shoppingcartwhite2%20copy.png" />

            </ul>
            <ul id="slide-out" class="side-nav">

                <li>

                    <p style="color:black;line-height: 16px;"><img class="faceimage" align="center" src="http://lorempixel.com/70/70/"> <b id="name">{{name}}</b>
                        <br> </p>
                </li>
                <hr>
                <div id="nav" ng-controller="NavController">
                    <div ng-repeat="link in links">
                        <li><a ng-href="{{link.url}}">{{link.title}}</a></li>
                    </div>
                </div>
                <br>

                <br>
                <hr>
                <li><a href="#!">My Account</a></li>
                <li><a href="login.html">Logout</a></li>

            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
    </nav>

    <!--Menu End-->

    <!--Main Content-->


        <!--Header-->
    <div class="profile" ng-controller="AccountController">
        <div id="header">
            <div class="content">
                <div class="col s4">
            <div id="logo"></div>
                    </div>
                <div class="col s8">
                <h1>Rewards</h1>
            <span id="reward-count"><h4>Balance: {{credit}}</h4></span>
                </div>
                </div>
        </div>
        </div>
        <!--Header End-->
<div class="main" ng-controller="RewardsController">
        <!--Rewards-->
        <div ng-repeat="reward in rewards">
            <div class="col s12 m6">
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">
                            {{ reward.name}}
                            <div class="right-align chip">
                            {{reward.creditCost}}
                            <i class="material-icons">grade</i>
                        </div>
                        </span>
                        <div class="col s10">{{ reward.description }}</div>
                    </div>
                    <div class="card-action">
                        <button class="btn waves-effect waves-light amber darken-2" name="action"
                        type="submit">Claim<i class=
                        "material-icons right">grade</i></button>
                         <button class="btn waves-effect waves-dark blue darken-1 darken-2" name="send"
                        type="submit">Send To Friend<i class=
                        "material-icons right">grade</i></button>
                    </div>
                </div>
            </div>
        </div>
        <!--Rewards End-->
    </div>
    <!--Main Content End-->

    <script src="assets/js/app.js">
    </script>
    <script src="assets/js/Controllers/RewardsController.js">
    </script>
        <script src="assets/js/Controllers/AccountController.js">
    </script>
    <script src="assets/js/Controllers/NavController.js">
    </script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
        <script>
$( document ).ready(function() {
$('.button-collapse').sideNav();
});
    </script>
</body>
</html>
