/* Custom CSS */

nav {
    background-color: #00B4FF;
}
deanPoints {
    float: right;
    padding: 0px 5px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
    color: #00B4FF;
}
bikeHead {
    background-color: #44B4FF;
    height: 500px;
    width: 100%;
    display: block;
    margin-right: -100px;
}
app-but-buttons {
    width: 50%;
    background-color: white;
}
blue {
    background-color: #00B4FF;
}
.faceimage {
    border-radius: 50px/50px;
}
#name {
    padding-left: 10px;
}
nav > ul > img {
    height: 50px;
    position: relative;
    float: right;
    padding-right: 20px;
}
bikenametitle {
    color: white;
    display: block;
    padding-top: 50px;
    font-size: 20px;
}
bikeHead {
    padding-left: 20px;
}
superpod {
    color: white;
    background-color:orange;
    border-radius:50px;
    height:30px;
    display:none;
}
